.moviesContents{
  display: flex;
  margin-top:1%;
  margin-bottom:1%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  width: 80%;
  /* height: 800px; */
  /* background-color: orange; */
  overflow: hidden;
}

.moviesCatalog{
  flex-direction: column;
  display: flex;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  color:white;
  width: 100%;
  /* height: 94%; */
  /* background-color: rgba(0, 0, 255, 0.5); */
  overflow: hidden;
}

.movieCards{
  position: relative;
  display: flex;
  width: 100%;
  gap:50px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-top:20px;
  border: 0;
  border-top: 3px solid rgb(255, 221, 85);;
  background-color: transparent;
}

.moviePoster{
  position: relative; /* <- importante */
  width: 30%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-radius: 50px;
}

.moviePoster img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieTitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;
}

.movieInfo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
  /* background-color: black; */
  text-shadow: 2px 2px 2px black;
  font-size: 16pt;
}

.selectPages{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  color:rgb(255, 221, 85);;
  width: 100%;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 36px;
  /* text-shadow: 2px 2px 2px black; */
}

.pageSpan{
  font-size: 18pt;
}

.pageButtons{
  width: 6%;
  height: 80%;
  border: 2px solid rgb(255, 221, 85);
  border-radius: 26px;
  color: white;
  background-color:rgba(33, 33, 33, 1.0);
  font-size: 20pt;
}

.pageButtons:hover{
  cursor:pointer;
  text-shadow: 0 0 4px rgb(255, 221, 85);
}

h3{
  font-size: 20pt;
}